::placeholder {
  color: var(--transtext);
}



/* ---------- root variables ---------- */
:root {
  --dark: #29222A;
  --lilla: #4d2651;
  --green: #c4e7d4;
  --white: #ffffff;
  --gray: #696269;
  --trans: rgba(255, 255, 255, 0.3);
  --transtext: rgba(255, 255, 255, 0.5);
  --ingen: rgba(255, 255, 255, 0.0);
}

/* ===================================== general styling ===================================== */
html {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  height: 100%;
  text-align: center;
}

body {
  margin: auto;
  max-width: 375px;
}

.baggrunds-billede {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -9999;
}


header {
  background-image: url(../img/baggrund.jpg);
  background-size: cover;
}

h1 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.left {
  text-align: left;
  margin: 30px 0 0px 0;
}

.lilleleft {
  text-align: left;
  margin: 0 0 -15px 0;
}

h2 {
  font-size: 13pt;
  font-weight: 600;
  line-height: 16pt;

}

h3 {
  font-size: 10pt;
  font-weight: 200;
  line-height: 12pt;
  padding: 5px 0;
}

h4 {
  font-size: 30px;
  font-weight: 800;
  vertical-align: middle;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 30px 0 0 -20px;
  min-width: 200px;
}

h5 {
  font-size: 14pt;
  font-weight: 600;
  color: var(--green);
  margin-block-start: 0;
  margin-block-end: 0;
  margin: -10px 0 0 -20px;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 14px;
  font-weight: 200;
}

strong {
  color: var(--transtext);
  font-size: 14px;
  font-weight: 200;
}

a {
  color: var(--white);
}

input.common-input {
  margin: 1.5em auto;
  width: 100%;
  max-width: 350px;
  height: 44px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: var(--trans);
  color: rgb(255, 255, 255);
  font-family: poppins;
}

/* ===================================== topbar styling ===================================== */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  color: var(--green);
}


.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 20px;
}

.topbar a.right {
  right: 20px;
}

.tilbage-knap {
  height: 34px;
  width: 34px;
  position: fixed;
  left: 1.2em;
  top: 8px;
  background-color: #c4e7d400;
  background-image: url(../img/tilbage.png);
  background-position: center;
  border: none;
}

.proceslinje {
  width: 220px;
  height: 20px;
}

.lilleProfil {
  height: 34px;
  width: 34px;
  position: fixed;
  right: 1.3em;
  top: 8px;
}

/* ===================================== nav styling ===================================== */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/baggrund.jpg);
  background-size: cover;
  background-position: bottom;
  z-index: 9999;
}


nav a {
  display: inline-block;
  text-align: center;
  padding: 0.5em 2.5em 0.3em;
}


/* ======================================= page styling ======================================= */
.page {
  display: none;
  /*min-heigh er screen-heigh minus højde af tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding bestemmer højden på tabbar and topbar */
  padding: 60px 1.3em 50px 1.3em;
  overflow: hidden;

}

/* ------------- sideskift animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ===================================== login or create siden =====================================*/

.forside-knapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 130px 0;

}

.forside-knapper button {
  height: 62px;
  width: 285px;
  background-color: var(--trans);
  border-radius: 3px;
  border: none;
  margin: 16px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  box-shadow: none;
}

.fg-icon {
  height: 55px;
  width: 119px;
  margin: 15px 0;
}

.fg-icon2 {
  margin: 0;
  padding-bottom: 15px;
}


/* ============================================ Log ind =============================================*/

.loginOrAnuller {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 15px;
  font-family: poppins;
}


.anuller-knap {
  height: 30px;
  width: auto;
  background-color: var(--ingen);
  border: none;
  font-size: 14px;
  color: var(--transtext);
  font-family: poppins;
}

.login-knap {
  height: 30px;
  width: auto;
  background-color: var(--green);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: var(--gray);
  font-family: poppins;
}

/* ============================================= Index =============================================*/

.visAlle {
  text-decoration: none;
  font-size: 14px;
  color: var(--green);
}

.indexOverskrifter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 -15px 0;
}

.tilTop {
  height: 46px;
  width: 46px;

}

/*------------------ Search ----------------*/

input#search {
  background-image: url(../img/icons8-search-33.png);
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  text-indent: 25px;
  transition: 0.3s;
  margin-top: 0px;
  font-size: 9pt;
}

input#search:focus {
  background-image: none;
  text-indent: 0px;
}

input#search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-image: url(../img/luk.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
}

input#searchPageSearchBar {
  background-image: url(../img/icons8-search-33.png);
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  text-indent: 25px;
  transition: 0.3s;
  margin-top: 0px;
  font-size: 9pt;
}

input#searchPageSearchBar:focus {
  background-image: none;
  text-indent: 0px;
}

input#searchPageSearchBar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-image: url(../img/luk.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
}


/* -------------  card styling -------------*/

.index-cards {
  height: 107px;
  width: 160px;
}

.index-card-text {
  display: block;
  margin: -142px 0 0 55px;
  padding: 0;
  width: 98px;
  height: 107px;
  text-align: left;

}

.index-card-text h3 {
  margin-top: -20px;
}

.genre {
  font-size: 10px;
  color: var(--transtext);
  margin-top: -8px;
}

.stars {
  position: relative;
  width: 90%;
  bottom: 12px;
}

/* ------------ Kategori kasser -------------*/

.kategori-kasse {
  display: block;
  margin: auto;
  height: 107px;
  width: 100%;
  border-radius: 3px;
  background: var(--trans);
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  overflow: hidden;
  margin-bottom: 24px;
}

.kategori-kasse-nederst {
  margin-bottom: 0;
}

/* ==================================== hexagon ====================================*/
.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 175%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}


.hexagon2 {
  width: 80px;
  /* bestemmer størrelsen på hexagon */
  height: 160px;
  /* bestemmer størrelsen på hexagon (skal være dobbelt så stor, ellers ødelægges form)*/
  margin: -26.6px 0 0 -30px;
  /* placering i kassen */
}

/* ---------- hexagon til kategori ---------------*/


.hexagonKategori {
  width: 80px;
  /* bestemmer størrelsen på hexagon */
  height: 160px;
  /* bestemmer størrelsen på hexagon (skal være dobbelt så stor, ellers ødelægges form)*/
  margin: -26.6px 0 0 280px;
  /* placering i kassen */
}

/* ---------- hexagon til kategori ---------------*/

.hexagonDetail {
  width: 350px;
  /* bestemmer størrelsen på hexagon */
  height: 700px;
  /* bestemmer størrelsen på hexagon (skal være dobbelt så stor, ellers ødelægges form)*/
  margin: -150px 0 0 -130px;
  /* placering i kassen */
  z-index: -99;
}

/* ---------- hexagon til show cards ---------------*/

.hexagon-show-card {
  width: 80px;
  /* bestemmer størrelsen på hexagon */
  height: 160px;
  /* bestemmer størrelsen på hexagon (skal være dobbelt så stor, ellers ødelægges form)*/
  margin: -26.6px 0 0 8px;
  /* placering i kassen */
  z-index: -99;
}



/*============================== grid container styling =============================== */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8em;
  align-items: center;
}

.grid-container>article {
  text-align: center;
  background-color: var(--trans);
  border-radius: 3px;
  height: 107px;
  width: 160px;
  overflow: hidden;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.8em;
  align-items: center;
}

.grid-container2>article {
  text-align: center;
  background-color: var(--trans);
  border-radius: 3px;
  height: 107px;
  width: 100%;
  overflow: hidden;
}




/* ---------- tools grid styling ---------- */

.tools-grid {
  background-color: var(--light-green);
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1em;
  gap: 1em;
  justify-items: center;
}

@media (min-width: 600px) {
  .tools-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tools-grid label {
  max-width: 350px;
}

/* ---------- form styling ---------- */

form {
  margin: auto;
}




/* ---------- custom select styling ---------- */
select {
  background-color: var(--green);
  border: none;
  color: var(--green);
  padding: 1em;
  margin: 1em;
  max-width: 350px;
  cursor: pointer;
}

/* ---------- custom select styling ---------- */
#detail-view-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  gap: 1em;
}

/* =============================================choose interests page ============================================= */

.flex-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.9em;
  align-items: center;
  margin-top: 15px;
}

.interest-button {
  margin-bottom: 10px;
}

input.interest-button {
  visibility: hidden;
}

input.interest-button::before {
    content: attr(value);
    display: inline-block;
    background: var(--trans);
    font-size: 8pt;
    color:var(--white);
    border-radius: 3px;
    border: none; 
    visibility: visible;
    width: 100px;
    height: 22.5px;
    text-align: center;
    margin-top: 5px;
    font-family: poppins;
    font-weight: 200;
    padding-top: 7.5px;
}



input.interest-button:checked::before {
  background: var(--trans);
  color: var(--green);
  border: 2px solid var(--green);
  width: 96px;
  height: 20.5px;
  padding-top: 5.5px;
}

.opret-knapper {
 display: flex;
 justify-content: center;
 margin-top: 30px;
 gap: 15px;
}


/* ============================================= streaming side ============================================= */
.flex-buttons-streaming {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  align-items: center;
}

.streaming-button {
  margin-bottom: 80px;
}

input.streaming-button {
  visibility: hidden;
}

input.streaming-button::before {
  content: attr(value);
    display: inline-block;
    background: var(--trans);
    font-size: 8pt;
    color:var(--white);
    border-radius: 3px;
    border: none; 
    visibility: visible;
    width: 90px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: poppins;
    font-weight: 200;
    padding-top: 70px;
    
    

}
input.streaming-button:checked::before {
  background: var(--trans);
  color: var(--green);
  border: 2px solid var(--green);
  width: 86px;
  height: 17px;
  padding-top: 68px;
}

.flex-buttons-streaming img {
  height: 40px;
  width: auto;
  position: absolute;
}

/*--------- Ikon placering --------*/
.sb1 {
  margin: -128px 0 0 25px;
}

.sb2 {
  margin: -128px 0 0 140px;
}

.sb3 {
  margin: -128px 0 0 244px;
}

.sb4 {
  margin: -25px 0 0 25px;
}

.sb5 {
  margin: -25px 0 0 140px;
}

.sb6 {
  margin: -25px 0 0 255px;
}

.sb7 {
  margin: 80px 0 0 25px;
}

.sb8 {
  margin: 80px 0 0 140px;
}

.sb9 {
  margin: 80px 0 0 249px;
}


/* ============================================= Detale view side ============================================= */

.titel-kasse {
  height: auto;
  width: auto;
  background-color: var(--green);
  border-radius: 3px;
  margin: -380px 0 0 50px;
  position: relative;
  z-index: 99;
}

.titel-kasse h1 {
  color: var(--dark);
  font-size: 30px;
  padding: 10px;
}

.detail-ikoner {
  position: relative;
  z-index: 99;
  margin: 83px 0 0 180px;
}

.detail-ikoner img {
  height: 45px;
  width: 45px;
  padding-left: 3px;
}

.detail-stats {
  text-align: left;
  color: var(--transtext);
}

.streaming-icons {
  text-align: left;
}

.streaming-icons img {
  height: 45px;
  width: 45px;
  padding: 5px 5px 0 0;
}

/* ============================================= Søg og Kategori side ============================================= */

.sort-filter-icons {
position: relative;
margin: -28px 0 0 255px;
}

.sort-filter-icons img {
  height: 24px;
  width: 24px;
  padding-left: 10px;
}

.allCategories {
margin: 8px 0 0 0;
}

/* ============================================= Vis alle Recomended/sugested side ============================================= */

.show-card {
  margin-top: 10px;
}

.show-card-text {
  display: block;
  margin: -128px 0 0 96px;
  padding: 0;
  width: 228px;
  height: 107px;
  text-align: left;

}

.show-card-text h2 {
  margin: 0;
  width: auto;
  font-size: 11.5pt;
}

.show-card-text h3 {
  margin-top: 0px;
  font-size: 9pt;
}


.stars2 {
  position: relative;
  width: 40%;
  bottom: 12px;
}

.showCard-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: -5px;
}

.lyt-nu-knap {
  border: none;
  border-radius: 3px;
  background-color: var(--green);
  color: var(--dark);
  width: 50px;
  height: 17px;
  position: relative;
  font-family: poppins;
  font-size: 10px;
  margin-top: 2px;
}

.showCard-flex-top {
  display: flex;
  justify-content: space-between;
  
}
